# Środowisko
.env
*.env.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
frontend/dist/
frontend/.vite/

# Docker
postgres_data/

# Logi
*.log
logs/

# System
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.iml

# Backupy aplikacji
*.zip
backups/
